body {
    margin: 0;
    padding: 0;
    background-color: rgb(221, 241, 248);
    font-family: Arial, sans-serif;
}

.myHeader {
    color: #333;
    font-size: 24px;
    text-align: center;
}

.header {
    background-color: #87CEFA; /* 淺藍色 */
    color: #fff; /* 白色文字 */
    padding: 10px;
    text-align: center;
    font-size: 50px;
    margin-top:0px;
    margin-bottom: 80px;
    
}
.button-container {
    display: flex;
    justify-content: space-between; /* 左右對齊 */
    align-items: center; /* 垂直居中 */
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
#Button1 {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    border-radius: 24px;
    color: aliceblue;
    background-color: RGB(93,123,157);
    font-size: 24px;
    text-align: center;
}
#Button2 {
    padding-right: 8%; /*30px*/
    padding-left: 8%;
    padding-top: 15%; /*180px*/
    padding-bottom: 15%;
    border-radius: 24px;
    color: aliceblue;
    background-color: RGB(93,123,157);
    font-size: 24px;
    text-align: center;
}